html {
    text-align: center;
    margin-top: 10rem;
    padding: 2rem;
    
}

h1 {
    font-size: 5rem;
}

span {
    font-size: 4rem;
}

button {
    margin-top: 2rem;
    padding: 1rem 1rem;
    border-radius: 50px;
    background: #fff;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    
}

button:hover {
    background: #faf8ff;
}

